<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6" [class.lg:grid-cols-2]="!isCooperative" [class.lg:grid-cols-3]="isCooperative">

    <!-- Metric Item Start - Orders -->
    <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div class="flex justify-between items-center gap-4">
            <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-xl dark:bg-background-dark-card"
                 [innerHTML]="icons.boxIconLine | safeHtml">
            </div>

            <div class="flex items-center justify-center">
                <div class="relative inline-block" >
                    <button class="dropdown-toggle flex items-center justify-center" (click)="toggleDropdown()">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 size-6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2441 6C10.2441 5.0335 11.0276 4.25 11.9941 4.25H12.0041C12.9706 4.25 13.7541 5.0335 13.7541 6C13.7541 6.9665 12.9706 7.75 12.0041 7.75H11.9941C11.0276 7.75 10.2441 6.9665 10.2441 6ZM10.2441 18C10.2441 17.0335 11.0276 16.25 11.9941 16.25H12.0041C12.9706 16.25 13.7541 17.0335 13.7541 18C13.7541 18.9665 12.9706 19.75 12.0041 19.75H11.9941C11.0276 19.75 10.2441 18.9665 10.2441 18ZM11.9941 10.25C11.0276 10.25 10.2441 11.0335 10.2441 12C10.2441 12.9665 11.0276 13.75 11.9941 13.75H12.0041C12.9706 13.75 13.7541 12.9665 13.7541 12C13.7541 11.0335 12.9706 10.25 12.0041 10.25H11.9941Z" fill="currentColor">
                            </path>
                        </svg>
                    </button>

                    <app-dropdown [isOpen]="isOpen" (close)="closeDropdown()" className="w-40 p-2">
                        <app-dropdown-item (itemClick)="closeDropdown()" [routerLink]="'/dashboard/list-orders'"
                                           className="flex w-full font-normal text-left text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300">
                            Voir toutes les commandes
                        </app-dropdown-item>

                    </app-dropdown>
                </div>
            </div>


        </div>

        <div class="flex items-end justify-between mt-5">
            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">Commandes</span>
                <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">5,359</h4>
            </div>
            <app-badge color="error">
                <span [innerHTML]="icons.arrowDownIcon | safeHtml"></span>
                9.05%
            </app-badge>
        </div>



    </div>
    <!-- Metric Item End - Orders -->


    <!-- Metric Item Start - Customers -->
    <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div class="flex justify-between items-center gap-4">

        <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-xl dark:bg-background-dark-card"
             [innerHTML]="icons.groupIcon | safeHtml">
        </div>

        <div class="flex items-center justify-center">
            <div class="relative inline-block" >
                <button class="dropdown-togglee flex items-center justify-center" (click)="toggleDropdownClient()">
                    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 size-6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2441 6C10.2441 5.0335 11.0276 4.25 11.9941 4.25H12.0041C12.9706 4.25 13.7541 5.0335 13.7541 6C13.7541 6.9665 12.9706 7.75 12.0041 7.75H11.9941C11.0276 7.75 10.2441 6.9665 10.2441 6ZM10.2441 18C10.2441 17.0335 11.0276 16.25 11.9941 16.25H12.0041C12.9706 16.25 13.7541 17.0335 13.7541 18C13.7541 18.9665 12.9706 19.75 12.0041 19.75H11.9941C11.0276 19.75 10.2441 18.9665 10.2441 18ZM11.9941 10.25C11.0276 10.25 10.2441 11.0335 10.2441 12C10.2441 12.9665 11.0276 13.75 11.9941 13.75H12.0041C12.9706 13.75 13.7541 12.9665 13.7541 12C13.7541 11.0335 12.9706 10.25 12.0041 10.25H11.9941Z" fill="currentColor">
                        </path>
                    </svg>
                </button>

                <app-dropdown [isOpen]="isOpenClient"  (close)="closeDropdownClient()" className="w-[200px] p-2">
                    <app-dropdown-item (itemClick)="closeDropdownClient()"
                                       className="flex w-full font-normal text-left text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300">
                        Demander une liste de vos clients
                    </app-dropdown-item>

                </app-dropdown>
            </div>
        </div>
        </div>

        <div class="flex items-end justify-between mt-5">
            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">Clients</span>
                <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">3,782</h4>
            </div>
            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                11.01%
            </app-badge>
        </div>
    </div>
    <!-- Metric Item End - Customers -->


    <!-- Metric Item Start - Producteurs -->
    <div *ngIf="isCooperative" class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-xl dark:bg-background-dark-card"
             [innerHTML]="icons.groupIcon | safeHtml">
        </div>
        <div class="flex items-end justify-between mt-5">
            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">Producteurs</span>
                <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90 flex items-center gap-2">
                    <ng-container *ngIf="isLoading; else countDisplay">
                        <span [innerHTML]="icons.loadingIcon | safeHtml" class="flex items-center"></span>
                    </ng-container>
                    <ng-template #countDisplay>
                        {{ animatedProducersCount }}
                    </ng-template>
                </h4>
            </div>
            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                {{ producersPercentage }}
            </app-badge>
        </div>
    </div>
    <!-- Metric Item End - Producteurs -->

</div>